* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #5f27cd;
    --white: #eee;
    --light-gray: #ccc;
    --dark-gray: #bbb;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

ul {
    list-style: none;
}

.header,
.footer {
    background-color: var(--purple);
    color: var(--white);
}

.header {
    padding: 36px;

    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 24px;
}

.header .header-logo {
    background: url('./d47351b83650f2a3b7e5.svg');
    height: 58px;
    width: 58px;
    
    transition: all 1.2s;
    transform: rotate(360deg);
}

.main {
    flex: 1;
    display: flex;
}

.main .container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.main .container .left {
    background-color: var(--light-gray);
}

.top-list,
.bottom-list {
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.item {
    padding: 5px;
    cursor: pointer;
}

.item:hover,
.active {
    background-color: var(--dark-gray);
    border-radius: 4px;
}

.top-list ul li {
    font-size: 20px;
    margin-bottom: 5px;
}

.bottom-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bottom-list h3 {
    font-size: 26px;
}

.bottom-list .add-project {
    font-size: 18px;
    font-weight: bold;
}

.right {
    display: flex;
    justify-content: center;
}

.right .project-container {
    width: 50%;
    margin-top: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.add-task {
    padding: 5px;
    cursor: pointer;
    background-color: var(--light-gray);
    border-radius: 4px;
}

.add-task:hover {
    background-color: var(--dark-gray);
}

.right .project-container h2 {
    font-size: 36px;
}

.footer {
    text-align: center;
    padding: 16px;
    font-weight: 500;
    font-size: 18px;
}